rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regla específica para la colección 'actividades'
    match /actividades/{activityId} {
      // Permite a cualquier usuario autenticado leer, crear, actualizar y borrar.
      allow read, create, update, delete: if request.auth != null;
    }

    // Regla general para el resto de las colecciones
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
